@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background: #1d0d01; 
    font-family: 'VT323', monospace;
    font-size: 1.2em;
    color: white;
    padding-top: 5%;
    text-align: center;
}

a:link, a:visited {
  color: orange;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: orange;
  opacity: .90;
}

a:active {
  color: rgb(255, 230, 0);
}

div {
  display: inline-block;
  padding: 10px;
}

.typed-out {
  margin: auto;
  overflow: hidden;
  width: 0;
  white-space: nowrap;  
}

.p1 {
  animation: 
    typing 1s steps(24, end) forwards;
  animation-delay: 0s;
}

.p2 {
  animation:
    typing 4.5s steps(89, end) forwards;
  animation-delay: 1s;
}

.p3 {
  animation:
    typing 1.3s steps(33, end) forwards;
  animation-delay: 5.5s;
}

.p4 {
  animation:
    typing 3s steps(55, end) forwards;
  animation-delay: 6.8s;
}

@keyframes typing{
  from{width: 0;}
  to{width: 100%;}
}